In [1]:
import requests_html
import pandas as pd
import pymongo

In [2]:
session = requests_html.HTMLSession()

In [3]:
response = session.get('http://www.twse.com.tw/exchangeReport/MI_INDEX?response=json&date=20181029&type=ALL')

In [4]:
json = response.json()

In [5]:
df = pd.DataFrame(columns=json['fields5'], data=json['data5'])
df.head(5)

,證券代號,證券名稱,成交股數,成交筆數,成交金額,開盤價,最高價,最低價,收盤價,漲跌(+/-),漲跌價差,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量,本益比
0,0050,元大台灣50,"9,883,260","3,121","747,884,213",75.85,76.10,75.35,75.75,<p style= color:red>+</p>,0.35,75.75,12,75.80,269,0.00
1,0051,元大中型100,"22,300",17,"627,827",28.20,28.24,28.06,28.20,<p style= color:red>+</p>,0.03,28.07,1,28.20,17,0.00
2,0052,富邦科技,"105,000",14,"5,013,650",47.64,47.77,47.32,47.50,<p style= color:red>+</p>,0.18,47.40,5,47.50,2,0.00
3,0053,元大電子,"19,000",11,"584,020",30.90,30.90,30.64,30.86,<p style= color:green>-</p>,0.03,30.81,20,31.03,20,0.00
4,0054,元大台商50,"5,000",5,"101,940",20.39,20.45,20.35,20.45,<p style= color:red>+</p>,0.28,20.27,20,20.43,20,0.00

In [6]:
dic = df.to_dict('records')

In [7]:
client = pymongo.MongoClient('localhost', 27017)
db = client['testdb_py']
collection = db['testdb_stock']
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'testdb_py'), 'testdb_stock')

In [8]:
collection.insert_many(dic)